In [ ]:
pip install vanna[openai,mysql]

In [1]:
from vanna.openai import OpenAI_Chat
from openai import AzureOpenAI
from vanna.vannadb import VannaDB_VectorStore

In [2]:

class MyVanna(VannaDB_VectorStore, OpenAI_Chat):
    def __init__(self, config=None):

        MY_VANNA_MODEL = ""
        MY_VANNA_API_KEY = ""
         
        VannaDB_VectorStore.__init__(self, vanna_model=MY_VANNA_MODEL, vanna_api_key=MY_VANNA_API_KEY, config=config)
        
        azure_openai_client = AzureOpenAI(
            azure_endpoint="",
            api_key="",
            api_version=""
        )
        
        OpenAI_Chat.__init__(self, client=azure_openai_client, config=config)

vn = MyVanna(config={'model': 'gpt-35-turbo-16k-1'})

In [3]:
vn.connect_to_mysql(host='localhost', dbname='otofiyat', user='root', password='', port=3306)

In [4]:
df_information_schema = vn.run_sql("""
    SELECT *
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME = 'otomobil_fiyatlari'
""")

plan = vn.get_training_plan_generic(df_information_schema)

print(plan)

Train on Information Schema: def.otofiyat otomobil_fiyatlari

In [5]:
vn.train(plan=plan)

In [6]:
vn.train(ddl=""" 
    CREATE TABLE IF NOT EXISTS otomobil_fiyatlari (
        id INT PRIMARY KEY AUTO_INCREMENT,
        marka VARCHAR(50),
        model VARCHAR(50),
        donanim VARCHAR(200),
        motor VARCHAR(50),
        yakit VARCHAR(50),
        vites VARCHAR(50),
        fiyat INT,
        websitesi VARCHAR(50)
    )
""")

vn.train(documentation="Otomobil fiyatları tablosu, farklı otomobil markaları ve modellerinin fiyat bilgilerini içerir. Her bir otomobilin donanım özellikleri, motor türü, yakıt tipi, vites türü ve fiyat bilgisi bulunur.")

vn.train(sql="SELECT * FROM otomobil_fiyatlari WHERE marka = 'Alfa Romeo';")
vn.train(sql="SELECT * FROM otomobil_fiyatlari WHERE fiyat < 500000;")
vn.train(sql="SELECT marka, model, fiyat FROM otomobil_fiyatlari ORDER BY fiyat DESC;")
vn.train(sql="INSERT INTO otomobil_fiyatlari (marka, model, donanim, motor, yakit, vites, fiyat, websitesi) VALUES ('BMW', '3 Series', 'Sport', '2.0L', 'Benzin', 'Otomatik', 600000, 'www.bmw.com');")

Adding ddl:
    CREATE TABLE IF NOT EXISTS otomobil_fiyatlari (
        id INT PRIMARY KEY AUTO_INCREMENT,
        marka VARCHAR(50),
        model VARCHAR(50),
        donanim VARCHAR(200),
        motor VARCHAR(50),
        yakit VARCHAR(50),
        vites VARCHAR(50),
        fiyat INT,
        websitesi VARCHAR(50)
    )

Adding documentation....
Using model gpt-35-turbo-16k-1 for 68.5 tokens (approx)
Question generated with sql: What are the prices of Alfa Romeo cars?
Adding SQL...
Using model gpt-35-turbo-16k-1 for 67.0 tokens (approx)
Question generated with sql: What are the prices of vehicles that are less than 500,000?
Adding SQL...
Using model gpt-35-turbo-16k-1 for 71.25 tokens (approx)
Question generated with sql: What are the car brands, models, and prices in descending order of price?
Adding SQL...
Using model gpt-35-turbo-16k-1 for 99.25 tokens (approx)
Question generated with sql: What is the price of a BMW 3 Series with Sport trim, 2.0L engine, automatic transmission, and petrol fuel type?
Adding SQL...

'9ac7becb794fde4d36769b03473d4118-sql'

In [7]:
#eğitim verileri referans 
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,472586-sql,sql,"What are the car brands, models, and prices in...","SELECT marka, model, fiyat FROM otomobil_fiyat..."
1,2256708-doc,documentation,None,The following columns are in the otomobil_fiya...
2,472584-sql,sql,What are the prices of Alfa Romeo cars?,SELECT * FROM otomobil_fiyatlari WHERE marka =...
3,472587-sql,sql,What is the price of a BMW 3 Series with Sport...,"INSERT INTO otomobil_fiyatlari (marka, model, ..."
4,2256709-doc,documentation,None,"Otomobil fiyatları tablosu, farklı otomobil ma..."
5,472585-sql,sql,What are the prices of vehicles that are less ...,SELECT * FROM otomobil_fiyatlari WHERE fiyat <...
6,330019-ddl,ddl,None,\n CREATE TABLE IF NOT EXISTS otomobil_fiy...

In [ ]:
from vanna.flask import VannaFlaskApp
app = VannaFlaskApp(vn)
app.run()

Your app is running at:
http://localhost:8084
 * Serving Flask app 'vanna.flask'
 * Debug mode: on
None
Using model gpt-35-turbo-16k-1 for 869.25 tokens (approx)
Using model gpt-35-turbo-16k-1 for 109.25 tokens (approx)
None
Using model gpt-35-turbo-16k-1 for 872.75 tokens (approx)
Using model gpt-35-turbo-16k-1 for 120.0 tokens (approx)
None
Using model gpt-35-turbo-16k-1 for 885.75 tokens (approx)
Using model gpt-35-turbo-16k-1 for 128.5 tokens (approx)
None
Using model gpt-35-turbo-16k-1 for 894.25 tokens (approx)
Using model gpt-35-turbo-16k-1 for 136.5 tokens (approx)
None
Using model gpt-35-turbo-16k-1 for 902.25 tokens (approx)
None
Using model gpt-35-turbo-16k-1 for 871.25 tokens (approx)
None
Using model gpt-35-turbo-16k-1 for 480.25 tokens (approx)
Using model gpt-35-turbo-16k-1 for 124.25 tokens (approx)
None
Using model gpt-35-turbo-16k-1 for 484.5 tokens (approx)
None
Using model gpt-35-turbo-16k-1 for 469.25 tokens (approx)
[]